.dept {
    padding: 50px;
    display: inline-block;
    flex-direction: row;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    transition-duration: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
}

.dept img {
    width: 300px;
    height: 400px;
}

.dept:hover {
    transform: scale(1.1);
}

.dept h2 {
    margin: 10px;
}

.dept button {
    color: #dccaa0;
    background-color: #1a0c4e;
    width: 50%;
    align-items: center;
    margin-left: 77px;
    border-radius: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}