.footer {
    padding: 20px 0;
    text-align: center;
    min-height: 100px;
    background-color: black;
}

.foot-nav a {
    color: #777;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer p {
    font-size: 20px;
    color: #777;
    margin-bottom: 10px;
}

.foot-nav a:hover {
    color: #dccaa0;
}